header h1 {
	text-align: center;
	text-shadow: 0 0 8px rgba(0, 95, 139, 0.2);
}

.todos-form {
	width: 30rem;
	max-width: 90%;
	margin: 3rem auto;
	padding: 2rem;
	box-shadow: 0 2px 12px rgba(0, 95, 139, 0.2);
	border-radius: 10px;
}

.todos {
	width: 35rem;
	max-width: 90%;
	margin: 3rem auto;
}

.todos p {
	text-align: center;
	font-size: 1.5rem;
}
